html {
    height: 100%; 
}

body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 72.0%;
    background: #eeeeee;
    text-align: justify;
  
}

h1,h2,h3,h4 {
    text-shadow: 1px 1px 3px gray;
}

#container {
    width: 900px;
	  font-size: 150%;
	  margin: 8em auto 0px auto;
}

#content {
	  width: 600px;
    float: left;
    height: auto;
	  background: white;
	  padding: 1em 1em 1em 1em;
	  display: block;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

#content h2 {
	  text-align: center;
    font-size: 200%;
}

#widgets {
	  width: 300px;
    font-size: 70%;
    height: auto;
	  background: white;
    margin-left: 640px;
	  padding: 1em 1em 1em 1em;
	  display: block;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
  
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}


#widgets h2 {
    font-size: 300%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#widgets div {
    margin: 1em 0;
}

 #start {

    display: inline-block;
	  outline: none;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  font: 16px/100% Arial, Helvetica, sans-serif;
	  padding: .5em 2em .55em;
	  text-shadow: 0 1px 1px rgba(0,0,0,.3);
	  -webkit-border-radius: .5em; 
	  -moz-border-radius: .5em;
	  border-radius: .5em;
	  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	  box-shadow: 0 1px 2px rgba(0,0,0,.2);
 

}

#sample_img {
	  width: 300px;
}

a {
    text-decoration: none;
    color: #1b1eb4;
}

[about] {
	  text-shadow: 0 0 0.1em #87F;
	  cursor: move;
	  z-index: 9999;
	  color: navy;
}

.hover{
	  text-shadow: 2px 2px 5px #87F;
	  color: black;
	
}

.f_tag{
	  border-radius: 10px;
	  border: 2px solid darkblue;
}

.f_tag_trans_hover{
	  border: 3px solid lightblue;
}

.f_tag_caption {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  padding: 1px 0;
	  text-align: center;
	  background: #DDD;
	  font-size: 11px;
	  cursor: pointer;
	  z-index: 10;
	  overflow: hidden;
	  opacity: 0.8;
}